.main-logo:hover {
  color: blue;
}
.theme-changer:hover {
  color: blue;
  border: solid 2px blue;
}
.contacts:hover {
  color: blue;
}
.tour-links:hover h2 {
  color: blue;
}
.hidden-block {
  background: blue;
}
