body {
  background-color: brown;
}
ul {
  font-family: sans-serif;
}
.test-element {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: bisque;
}
.timer {
  display: block;
  text-align: center;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  font-family: sans-serif;
}
