ul {
  list-style: none;
  padding-left: 0;
}
.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tabs {
  display: flex;
}
.tabs-title {
  font-size: 18px;
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}
.active {
  background-color: #937341;
  color: #23201d;
}
.tabs-content {
  font-size: 25px;
  display: none;
}
.active-content {
  display: block;
}
